In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
df = pd.read_csv('../Datasets/store_sku_ba_dataset.csv')

In [8]:
df.info

<bound method DataFrame.info of      Store ID  SKU ID  Total Visits  Transactions    Revenue
0     Store_1   SKU_1           606           573   74688.67
1     Store_1   SKU_2           695            27    1390.60
2     Store_1   SKU_3           389           285   50679.63
3     Store_1   SKU_4           689           505   16764.34
4     Store_1   SKU_5           522           230   41928.40
..        ...     ...           ...           ...        ...
995  Store_50  SKU_16           704            40    7557.12
996  Store_50  SKU_17           846           104   13813.85
997  Store_50  SKU_18           868           842  104198.81
998  Store_50  SKU_19           959           209    7604.58
999  Store_50  SKU_20           762           376   14784.73

[1000 rows x 5 columns]>

# Data Cleaning

In [10]:
df.duplicated().sum()

np.int64(0)