In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

# %matplotlib inline

In [2]:
df = pd.read_csv('../Datasets/store_sku_ba_dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store ID      1000 non-null   object
 1   SKU ID        1000 non-null   object
 2   Total Visits  1000 non-null   int64
 3   Transactions  1000 non-null   int64
 4   Revenue       1000 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.2+ KB

In [4]:
df.head()

  Store ID SKU ID  Total Visits  Transactions   Revenue
0  Store_1  SKU_1           606           573  74688.67
1  Store_1  SKU_2           695            27   1390.60
2  Store_1  SKU_3           389           285  50679.63
3  Store_1  SKU_4           689           505  16764.34
4  Store_1  SKU_5           522           230  41928.40

In [5]:
stores = df['Store ID'].unique()
stores

array(['Store_1', 'Store_2', 'Store_3', 'Store_4', 'Store_5', 'Store_6',
       'Store_7', 'Store_8', 'Store_9', 'Store_10', 'Store_11',
       'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21',
       'Store_22', 'Store_23', 'Store_24', 'Store_25', 'Store_26',
       'Store_27', 'Store_28', 'Store_29', 'Store_30', 'Store_31',
       'Store_32', 'Store_33', 'Store_34', 'Store_35', 'Store_36',
       'Store_37', 'Store_38', 'Store_39', 'Store_40', 'Store_41',
       'Store_42', 'Store_43', 'Store_44', 'Store_45', 'Store_46',
       'Store_47', 'Store_48', 'Store_49', 'Store_50'], dtype=object)

In [6]:
products = df['SKU ID'].unique()
products

array(['SKU_1', 'SKU_2', 'SKU_3', 'SKU_4', 'SKU_5', 'SKU_6', 'SKU_7',
       'SKU_8', 'SKU_9', 'SKU_10', 'SKU_11', 'SKU_12', 'SKU_13', 'SKU_14',
       'SKU_15', 'SKU_16', 'SKU_17', 'SKU_18', 'SKU_19', 'SKU_20'],
      dtype=object)

In [7]:
print(f"Total Number of Stores = {len(stores)}")
print(f"Total Number of product = {len(products)}")

Total Number of Stores = 50
Total Number of product = 20

# Data Cleaning

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.columns

Index(['Store ID', 'SKU ID', 'Total Visits', 'Transactions', 'Revenue'], dtype='object')

    INFO: There are total 1000 rows having 50 store and 20 products. There are no duplicate or unfilled value.

# Feature Engineering

In [10]:
# ['Store ID', 'SKU ID', 'Total Visits', 'Transactions', 'Revenue']

#### TASK 1: Calculate the conversion rate at both the store level and the SKU level (i.e., Transactions /Total Visits).

#### Store level conversion rate

In [11]:
df_store_level = df.groupby('Store ID')[['Total Visits', 'Transactions']].sum()

In [12]:
df_store_level

          Total Visits  Transactions
Store ID
Store_1          11296          6054
Store_10         12173          6311
Store_11          9362          4526
Store_12          8698          3310
Store_13         11846          5155
Store_14         12804          4674
Store_15          8922          3090
Store_16         11857          6122
Store_17         11468          5575
Store_18         10021          5340
Store_19         10678          4627
Store_2          11890          6351
Store_20          9062          3756
Store_21         11478          5562
Store_22          9480          5525
Store_23          9411          3759
Store_24         10295          4313
Store_25          8524          4197
Store_26         10974          5599
Store_27          8856          3943
Store_28         12186          7238
Store_29         10843          5522
Store_3          10214          5201
Store_30         10659          4043
Store_31         12942          6826
Store_32          9157          4085
Store_33         11430          6595
Store_34         10220          5642
Store_35         10257          4359
Store_36         10149          3819
Store_37          9458          5937
Store_38          8975          5518
Store_39          9213          6124
Store_4          11112          5296
Store_40         10295          4891
Store_41         11083          6459
Store_42         11239          5196
Store_43         12664          7616
Store_44          8482          5356
Store_45         11242          5489
Store_46         10322          4997
Store_47          9753          6081
Store_48         11334          5558
Store_49         11032          7129
Store_5          11997          7275
Store_50         11172          5203
Store_6          10668          5665
Store_7           9822          4305
Store_8           8794          5443
Store_9          10245          4208

In [13]:
df_store_level['Conversion Rate'] = df_store_level['Transactions']/df_store_level['Total Visits']

In [14]:
df_store_level

          Total Visits  Transactions  Conversion Rate
Store ID
Store_1          11296          6054         0.535942
Store_10         12173          6311         0.518442
Store_11          9362          4526         0.483444
Store_12          8698          3310         0.380547
Store_13         11846          5155         0.435168
Store_14         12804          4674         0.365042
Store_15          8922          3090         0.346335
Store_16         11857          6122         0.516319
Store_17         11468          5575         0.486135
Store_18         10021          5340         0.532881
Store_19         10678          4627         0.433321
Store_2          11890          6351         0.534146
Store_20          9062          3756         0.414478
Store_21         11478          5562         0.484579
Store_22          9480          5525         0.582806
Store_23          9411          3759         0.399426
Store_24         10295          4313         0.418941
Store_25          8524          4197         0.492374
Store_26         10974          5599         0.510206
Store_27          8856          3943         0.445235
Store_28         12186          7238         0.593960
Store_29         10843          5522         0.509269
Store_3          10214          5201         0.509203
Store_30         10659          4043         0.379304
Store_31         12942          6826         0.527430
Store_32          9157          4085         0.446107
Store_33         11430          6595         0.576990
Store_34         10220          5642         0.552055
Store_35         10257          4359         0.424978
Store_36         10149          3819         0.376293
Store_37          9458          5937         0.627723
Store_38          8975          5518         0.614819
Store_39          9213          6124         0.664713
Store_4          11112          5296         0.476602
Store_40         10295          4891         0.475085
Store_41         11083          6459         0.582784
Store_42         11239          5196         0.462319
Store_43         12664          7616         0.601390
Store_44          8482          5356         0.631455
Store_45         11242          5489         0.488258
Store_46         10322          4997         0.484112
Store_47          9753          6081         0.623500
Store_48         11334          5558         0.490383
Store_49         11032          7129         0.646211
Store_5          11997          7275         0.606402
Store_50         11172          5203         0.465718
Store_6          10668          5665         0.531027
Store_7           9822          4305         0.438302
Store_8           8794          5443         0.618945
Store_9          10245          4208         0.410737

In [16]:
df_store_level = df_store_level.reset_index()
pickle.dump(df_store_level, open("../Datasets/processed_data/store_level_transaction.pkl", 'wb'))